
div.millennium.holdings {
  max-height:15em;
  overflow:auto;
}
table.millennium.holdings {
  width:100%;
}
table.millennium.holdings tbody {
  border:0px;
}
table.millennium.holdings th {
}
table.millennium.holdings td {
}
table.millennium.holdings tr.available td {
  /* color:#080; */
}
table.millennium.holdings tr.notavailable td {
  /* color:#866; */
}
table.millennium.holdings tr.notavailable a {
  display:none;
}
div.millennium.authors {
  font-size: 110%;
}
div.millennium.loading {
  background: #f4f4f4 url(images/throbber.gif) no-repeat center center;
  padding:5px;
  height:40px;
  color:#626262;
}
table.millennium.biblio_data {
  font-size:90%;
  /* clear:both; */
}
table.millennium.biblio_data .fieldname {
  vertical-align:top;
  font-size:90%;
  width:12%;
}

/** Cover image shadow. See http://www.alistapart.com/articles/cssdropshadows/ **/
.millennium.coverimage {
  float:left;
  background: url(images/shadowAlpha.png) no-repeat bottom right !important;
  background: url(images/shadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  width: 90px;
  height: 120px;
}

.millennium.coverimage img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
  width:80px;
  height:110px;
}
table.views-view-grid .millennium.coverimage {
  float:none !important;
}
.millennium.conversion-preview {
  overflow:auto;
  max-height:15em;
  background-color:#eee;
  padding:1em;
}