
div.millennium-enrich {
  margin:0.9em 0;
}

div.millennium-enrich .content {
  overflow:auto;
  margin:0.5em;
  padding:0.5em 1em;
  height:10em;
  max-width: 400px;
  line-height:2em;
  font-size:105%;
  border-style: solid;
  border-width: 1px;
}